/* Main things */
body {
    background: white;
    color: black;
    font: normal 90% "Helvetica Neue", Arial, Helvetica, serif;
	margin: 0 0 100px;
	padding: 0;
}

a {
    color: #217FDE;
    text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/* Drag & Drop */

.droppable_selected{border:1px solid silver}
.ui-draggable-dragging
{
  z-index:10000;
}


/* overview */

#overview {
    width: 100%;
    text-align: center;
	border-bottom: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}

#overview ul {
	margin: 0 auto;
	overflow: hidden;
	width: 1000px;
	font-size: 12px;
	padding: 0;
}

#overview li {
    float: left;
    list-style-type: none;
    padding: 0.5em 30px 0.5em 0;
}

#statuses {
	clear: both;
	width: 99%;
	margin: 0 auto;
}

/* Status lanes and formatting */

.status {
    overflow:visible;
  /*overflow: hidden;*/
}

#spacer
{
  border-left:1px solid silver;
  padding-left:0px;
  padding-right:0px;
  margin-top:55px;
  height:1000px;
}

#open , #closed{
    padding-left: 0.5%;
}

#open .status ,#closed .status{
  float: left;
/*  width: 10%;*/
	padding: 0 0.5%;
	min-height: 450px;
}

/*
#closed .status {
  clear: both;
  padding: 0 0.5%;
}
*/

.status h2 {
  color: #fff;
	padding: 0.25em 0.5em;
  margin: 1em 0;
  text-align: center;
	font-size: 14px;
	background-color: #e5e5e5;
}

/* tickets */
.ticket {
	background-color: #FBF08F;  
  margin: 0.625em auto;
  width: 100%;
  max-width:133px;
  padding: 0em;
	position: relative;
	overflow: hidden;
}

/* start custom ticket colors */
.ticket-default {
}

.ticket-admin {
	background-color: pink;  
}

.ticket-other {
  background-color: #dae29e;
}
/* end custom ticket colors */
/*
#closed .status .ticket {
  float: left;
	margin: 0 0.5% 0.625em;
	width: 10%;
}
*/

.ticket h3 {
  margin: 5px;
	font-size: 0.75em;
	min-height: 3.75em;
}

.ticket-body {
  position: relative;
  font-family: Monaco, "Lucida Console", "Courier New", monospace;
	font-size: 0.625em;
	margin: 5px;
}

.ticket-link {
	font-weight: bold;
    text-decoration: none;
	display: block;
}

.ratio{
  padding-top:7px;
  background-color:white;
}

.age {
	display: block;
}

.ci-status {
    display: block;
}
.ci-status.ok { color: #060; font-weight: bold; }
.ci-status.fail { color: white; background-color: red; font-weight: bold; text-transform: uppercase; padding: 0 1em; width: 3em;}
.ci-status.unknown { color: #666; }

.ticket-priority {
    float: right;
    font-size: 80%;
    margin: 0.85em 1em 0 0;
}

img.gravatar {
	float: right;
}

.qtip-content ul {
    margin: 0;
    padding: 0;
}

/* -- new ticket -- */
#new_ticket select{
  width:80%;
}

#new_ticket .properties{
  border:1px solid silver;
}

#new_ticket .property{
  float:left;
  width:45%;
  padding-left:5px;
  padding-top:5px;
}

#new_ticket .assignee{
  padding-left:5px;
  padding-top:5px;
  padding-bottom:5px;
}

#new_ticket .assignee .assignee_property{
  float:left;
  border:1px solid silver;
  min-width:40%;
  padding-left:5px;
  padding-top:5px;
}

#new_ticket .assignee .image{
  float:left;
  margin-bottom:5px;
}

#new_ticket .assignee .name{
  float:left;
  padding:5px 10px 0px 10px;
}

#new_ticket .button{
  float:left;
  margin-top:10px;
}

#new_ticket .error_message{
  text-align: center;
  padding-top: 5px;
  color: red; 
  font-weight: bold; 
  display: none;
}

